:root {
    /* Color palette */
    --color-primary: #4d96a9;
    --color-primary-light: #71c0d4;
    --color-accent: #855fb1;
    --color-accent-light: #b18bdd;
    --color-headings: #28283d;
    --color-text-dark: #87879d;
    --color-text-light: #fafafa;
    --color-white: #ffffff;
    --color-light-blue: #8fe3f9;
    --color-accent-text: #d9b8ff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Red Hat Display", sans-serif;
    overflow-x: hidden;
}

/* Headings */
h1 {
    font-size: 4rem;
    line-height: 4.4rem;
    color: var(--color-headings);
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 4.8rem;
        line-height: 4.8rem;
    }
}

@media screen and (min-width: 1440px) {
    h1 {
        font-size: 6.4rem;
        line-height: 6.4rem;
    }
}

h2 {
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-transform: uppercase;
    color: var(--color-primary);
    letter-spacing: 4px;
}

h3 {
    font-size: 3.2rem;
    line-height: 3.6rem;
    color: var(--color-headings);
}

@media screen and (min-width: 768px) {
    h3 {
        font-size: 4rem;
        line-height: 4.4rem;
    }
}

p {
    font-size: 1.6rem;
    color: var(--color-text-dark);
    line-height: 2.6rem;
}

footer p {
    font-size: 1.8rem;
}

@media screen and (min-width: 1440px) {
    p {
        font-size: 1.8rem;
    }
}

/* TEXT */
/* Text */
.text-light-blue {
    color: var(--color-light-blue);
}

.text-accent-light {
    color: var(--color-accent-text);
}

.text--center {
    text-align: center;
}

/* -------------------------- */
/* COMPONENTS */
/* -------------------------- */

/* Buttons */
.btn {
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: bold;
    white-space: nowrap;
    transition: background-color 0.2s;
    padding: 1.8rem 2.8rem;
}

.btn--primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn--primary:hover,
.btn--primary:active {
    background-color: var(--color-primary-light);
}

.btn--accent {
    background-color: var(--color-accent);
    color: var(--color-white);
}

.btn--accent:hover,
.btn--accent:active {
    background-color: var(--color-accent-light);
}

.btn--long {
    padding: 1.8rem 4.2rem;
}
