:root {
    /* Color palette */
    --color-primary: #4d96a9;
    --color-primary-light: #71c0d4;
    --color-accent: #855fb1;
    --color-accent-light: #b18bdd;
    --color-headings: #28283d;
    --color-text-dark: #87879d;
    --color-text-light: #fafafa;
    --color-white: #ffffff;
    --color-light-blue: #8fe3f9;
    --color-accent-text: #d9b8ff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Red Hat Display", sans-serif;
    overflow-x: hidden;
    color: var(--color-text-dark);
}

a {
    text-decoration: none;
    display: inline-block;
}

/* Headings */
h1 {
    font-size: 4rem;
    line-height: 4.4rem;
    color: var(--color-headings);
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 4.8rem;
        line-height: 4.8rem;
    }
}

@media screen and (min-width: 1440px) {
    h1 {
        font-size: 6.4rem;
        line-height: 6.4rem;
    }
}

h2 {
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-transform: uppercase;
    color: var(--color-primary);
    letter-spacing: 4px;
}

h3 {
    font-size: 3.2rem;
    line-height: 3.6rem;
    color: var(--color-headings);
}

footer h3 {
    color: var(--color-text-light);
}

@media screen and (min-width: 768px) {
    h3 {
        font-size: 4rem;
        line-height: 4.4rem;
    }
}

p {
    font-size: 1.6rem;
    color: var(--color-text-dark);
    line-height: 2.6rem;
}

footer p {
    font-size: 1.8rem;
    color: var(--color-text-light);
}

@media screen and (min-width: 1440px) {
    p {
        font-size: 1.8rem;
    }
}

/* TEXT */
/* Text */
.text-light-blue {
    color: var(--color-light-blue);
}

.text-accent-light {
    color: var(--color-accent-text);
}

.text--center {
    text-align: center;
}

span {
    font-size: 1.6rem;
}

/* -------------------------- */
/* COMPONENTS */
/* -------------------------- */

/* Buttons */
.btn {
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: bold;
    white-space: nowrap;
    transition: background-color 0.2s;
    padding: 1.8rem 2.8rem;
}

.btn--primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn--primary:hover,
.btn--primary:active {
    background-color: var(--color-primary-light);
}

.btn--accent {
    background-color: var(--color-accent);
    color: var(--color-white);
}

.btn--accent:hover,
.btn--accent:active {
    background-color: var(--color-accent-light);
}

.btn--long {
    padding: 1.8rem 4.2rem;
}

/* NUMBERINGS */

.line {
    background-color: var(--color-text-dark);
    height: 8.4rem;
    left: 2.7rem;
    position: relative;
    width: 0.1rem;
}

.number {
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--color-text-dark);
    display: flex;
    font-size: 1.6rem;
    font-weight: bold;
    height: 5.6rem;
    justify-content: center;
    width: 5.6rem;
}

.number-line__container {
    display: flex;
    justify-content: center;
}

/* GRIDS */
.d-grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

/* GAPS */
.g-1 {
    gap: 1rem;
}

.g-2 {
    gap: 2rem;
}

.g-3 {
    gap: 3rem;
}

/* FLEX LAYOUT */
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* CONTAINER */
.center {
    margin: 0 auto;
}

/* ---------------------------- */
/* ------HEADER---------- */
/* ---------------------------- */
.header {
    padding: 5rem 0;
}

.logo {
    height: 100%;
}

/* ---------------------------- */
/* ------HERO SECTION---------- */
/* ---------------------------- */
.header {
    margin-bottom: 2rem;
}

.image__container {
    width: 110%;
    margin-left: -5%;
}

.center-image {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .image__container {
        width: 107%;
        margin-left: -5%;
    }

    .center-image {
        margin-left: 1.5%;
        margin-bottom: 4rem;
    }

    .header {
        margin-bottom: 5rem;
    }

    .hero__buttons {
        flex-direction: row;
        /* justify-content: center; */
    }

    .hero__text {
        padding: 0 20rem;
    }
}

.left-image {
    display: none;
}

.right-image {
    display: none;
}

@media screen and (min-width: 1440px) {
    .hero {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .image__container {
        display: none;
    }

    .left-image {
        display: block;
        justify-self: start;
        margin-left: -3rem;
    }

    .right-image {
        display: block;
        justify-self: end;
        align-self: end;
        margin-right: -3rem;
    }

    .hero__content {
        justify-self: center;
        text-align: center;
    }

    .hero__heading {
        padding: 4rem 5rem;
    }

    .hero__heading span {
        font-size: 6.4rem;
        color: var(--color-headings);
        display: block;
    }

    .hero__text {
        /* margin-top: 2rem; */
        margin-bottom: 3rem;
    }

    .hero__buttons {
        flex-direction: row;
        /* justify-content: center; */
    }

    .header {
        margin-bottom: 3rem;
    }
}

.hero__heading {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.hero__heading span {
    font-size: 4rem;
    line-height: 4.4rem;
    color: var(--color-headings);
    display: block;
    /* text-align: center; */
}

.hero__text {
    padding: 0 2rem;
    margin-bottom: 2rem;
}

/* NUMBERING */
.number-line__container {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
    .number-line__container {
        margin-top: 8rem;
        margin-bottom: 6rem;
    }
}

@media screen and (min-width: 1440px) {
    .number-line__container {
        margin-top: 10rem;
    }
}

/* IMAGE GALLERY */
.image--gallery {
    padding: 0 2rem;
    margin-bottom: 8rem;
}

.gallery__image {
    width: 100%;
    border-radius: 1rem;
}

@media screen and (min-width: 768px) {
    .image--gallery {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 5rem;
        gap: 1rem;
        margin-bottom: 5rem;
    }
}

@media screen and (min-width: 1440px) {
    .image--gallery {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 20rem;
        gap: 3rem;
        margin-bottom: 8rem;
    }
}
