:root {
    /* Color palette */
    --color-primary: #4d96a9;
    --color-primary-light: #71c0d4;
    --color-accent: #855fb1;
    --color-accent-light: #b18bdd;
    --color-headings: #28283d;
    --color-text-dark: #87879d;
    --color-text-light: #fafafa;
    --color-white: #ffffff;
    --color-light-blue: #8fe3f9;
    --color-accent-text: #d9b8ff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Red Hat Display", sans-serif;
    overflow-x: hidden;
}
